body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px;    
    box-sizing: border-box;
    border: 1px solid darkcyan;
}

button {
    margin-top: 5px;
    background-color: darkcyan;
    border: none;
    padding: 8px 15px;
    color: white;
    font-weight: bold;
}

ul {
    margin-top: 15px;
    list-style: none;
    padding: 0;
}

li {
    margin-top: 5px;
}

a {
    color: darkcyan;
}